#
#
# remarks
# 
# Immer wieder brauch ich alle halben jahre mal ein Linux mit Systemd in meinem Portainer / Docker Swarm
# Jedes mal vergess ich wie es vernpnftig geht
# daher hier die Stack-Config mit Hinweisen was zu beachten ist
#
# beim ersten start nehm ich ein /bin/bash rein und als image das von dem ich aus forke will bsp. debian:slim
# dann updaten wie in https://github.com/robertdebock/docker-ubuntu-systemd/blob/master/Dockerfile
# dann image aus Container erzeugen
# dann hin zum image und den systemd statt der bash wie hier ganz unten in die config
# to use the cgroup with portainer:
# 
# on all hosts:
#
# 1.) docker run --rm --cgroupns host ubuntu:latest echo done
# 2.) NEW_CONTAINER="laubisytemd" 
# 3.) docker run --rm --name freeipa -it --read-only --security-opt seccomp=unconfined --hostname freeipa.corp --init=false --cgroupns private \
#     -v /sys/fs/cgroup/${NEW_CONTAINER}.scope:/sys/fs/cgroup:rw freeipa/freeipa-server:almalinux-9
# 4.) /sys/fs/cgroup/... muss dann hier unter volumes auch angepasst werden

version: "3.9"
services:
  laubisytemd:
    cap_drop:
      - "AUDIT_CONTROL"
      - "BLOCK_SUSPEND"
      - "DAC_READ_SEARCH"
      - "IPC_LOCK"
      - "IPC_OWNER"
      - "LEASE"
      - "LINUX_IMMUTABLE"
      - "MAC_ADMIN"
      - "MAC_OVERRIDE"
      - "NET_ADMIN"
      - "NET_BROADCAST"
      - "SYSLOG"
      - "SYS_ADMIN"
      - "SYS_BOOT"
      - "SYS_MODULE"
      - "SYS_NICE"
      - "SYS_PACCT"
      - "SYS_PTRACE"
      - "SYS_RAWIO"
      - "SYS_RESOURCE"
      - "SYS_TIME"
      - "SYS_TTY_CONFIG"
      - "WAKE_ALARM"
    environment:
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    hostname: "laubisytemd"
    ipc: "private"
    labels:
      org.opencontainers.image.ref.name: "ubuntu"
      org.opencontainers.image.version: "24.04"
    logging:
      driver: "json-file"
      options: {}
    security_opt:
      - seccomp:unconfined
      - "label=disable"
    stdin_open: true
    tty: true
    volumes:
      - /sys/fs/cgroup/laubisytemd.scope:/sys/fs/cgroup:rw
      - type: tmpfs
        target: /run
      - type: tmpfs
        target: /run/lock
    image: "docker.io/laubi/debian-systemd:slim"
    command:
      - "/lib/systemd/systemd"
